* {
  box-sizing: border-box;
  font-weight: 300;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font: 16px/1 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: blue;
  color: white;
}

.main {
  padding-top: 100px;
}

h1 {
  font-size: 6rem;
  color: yellow;
  text-shadow: 0.05em 0.05em blue, -0.05em -0.05em red, 0.1em 0.1em blue, -0.1em -0.1em red, 0.15em 0.15em blue, -0.15em -0.15em red, 0.2em 0.2em blue, -0.2em -0.2em red;
}

h2 {
  font-size: 4rem;
}
